[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
python-dotenv = "*"
django-filter = "*"
markdown = "*"
drf-yasg = "*"
django-extensions = "*"
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.7"
